/* /css/styles.css for http://jayts.com */

@import url(normalize.css);

/* *************** Global Settings ********************* */

html, body
{
	overflow: visible;
	color: rgb(0%,0%,0%);  /* black #000 */
	background-color: rgb(0%,0%,0%);  /* black #000 */
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 100%;

	margin: 0px 0px 0px 0px;
	box-sizing: border-box;
}

/* ************** <h1> through <h6> **************** */

h1, h2, h3, h4, h5, h6 { color: blue; }

h1 { font-size: 120%; }
h2 { font-size: 100%; }
h3 { font-size:  90%; }
h4 { font-size:  80%; }
h5 { font-size:  70%; }
h6 { font-size:  50%; }

.hidden
{
	display: none;
}

/* *************** Monospace Text ******************* */

pre, tt { font-family: "lucida console", "lucida sans typewriter", monaco, monospace; }

/* *************** Header *************************** */

div.header
{
/*	height: 130px; */
	color: white;
	font-family: arial, verdana, helvetica, sans-serif;
	overflow: hidden;
	white-space: nowrap;
}

/* *************** Link Behavior ********************** */

a
{
	text-decoration: none;
	font-family: arial, verdana, helvetica, sans-serif;
	/* bright blue */
	color: rgb(0%,0%,100%); /* blue #00f */
}

a:link
{
	color: rgb(0%,0%,100%); /* blue #00f */
}

a:visited
{
	/* bright magenta-red */
	color: rgb(100%,6.7%,40%); /* #f16 */
}

/* :hover must be specified after :visited */

a:hover
{
	/* medium green */
	color: rgb(0%,67%,0%); /* #0a0 */
}

/* while it's being clicked */

a:active
{
	/* bright magenta-red */
	color: rgb(100%,6.7%,40%); /* #f16 */
}

/* ***************** Horizontal Rule ******************** */

hr	/* Don't use <hr>. Use <div class="hr"></div>  instead */
{
	color: rgb(65%,16%,16%); /* <- doesn't work as expected */
	overflow: hidden;
	min-width: 20em;
	width: calc(100% - 4px);
	height: 0px;
}

div.hr
{
        height: 0px;	/* no space at all inside content box */
	width: calc(100% - 4px);
	border-style: solid;
	/* draw just a 1-pixel horizontal line */
	border-width: 1px 0px 0px 0px;
        border-color: rgb(65%,16%,16%);
        overflow: hidden;
/*        min-width: 20em; */
	min-width: 57em;
}

/* ************************* Div styles ********************** */

div.center { text-align: center; }

input, textarea
{
	background-image: url("./images/ybtile.gif");
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 100%;
	color: blue;
	padding-left: 3px;
	border-style: solid;
	border-color: teal;
	border-width: 1px;
}

/* select, option and input.addr are currently unused in the Contact form */

select, option
{
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 100%;
	color: blue;
	padding-left: 3px;
	border-style: none;
}

select
{
	border-color: teal;
	border-style: solid;
	border-width: 1px;
}

option
{
	background-color: #dcfff8;  /* rgb(86%,100%,97%); */
	color: black;
}

input.addr
{
	margin-bottom: 2px;
}

/* End */
